@media (max-width: 992px) {
    
    .navbar {
        gap: 10px;
    }

    .navbar-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background: var(--bg-electric);
        border: 2px solid whitesmoke;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }
    .navbar-list a {
        font-size: 18px;
    }

    .menu-label {
        display: flex;
        cursor: pointer;
        order: 2;
    }
    
    .hero-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .hero-info h1 {
        width: 90%;
        max-width: 500px;
        min-width: unset;
    }

    .hero-info p {
        width: 60%;
        max-width: 600px;
    }
    
    .hero-card {
        display: none;
    }

    #info h2 {
        text-align: center;
        width: 80%;
    }

    .info-cards-container {
        max-width: 80%;
    }

    #discover {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .discover-info {
        flex-direction: column;
        align-items: center;
    }

    .discover-cards {
        flex-direction: column;
    }

    .discover-cards img {
        width: 100%;
    }

    .categories {
        flex-wrap: wrap;
        max-width: 390px;
    }

    .category {
        width: 120px;
    }
 }
